{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices leo quis libero congue dictum. Nunc vitae fermentum dolor. Nullam elit nisl, cursus ut magna non, iaculis ullamcorper tellus. Suspendisse in magna orci. Donec ac aliquet ipsum, sit amet malesuada enim. Morbi tincidunt ullamcorper vulputate. Aenean eleifend leo urna, at fringilla lorem vestibulum in. Nulla tempor enim ac quam efficitur blandit. Maecenas fermentum venenatis magna id tempor. Phasellus sed est ut lectus fermentum luctus. Donec varius lacus in congue consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vel diam in nisl rutrum iaculis.</p>

        <button class="btn btn-danger">На главную страницу</button>

    </div>
{% endblock %}