{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>Страница БД</h1><br>

        <h1>Список преподавателей</h1>

        <h1>Список учеников</h1>
        {% if student %}
            {% for el in student %}
                <div class="alert alert-warning">
                    <a href="{% url 'students-detail' el.id %}"><h3>{{ el.last_name }}</h3></a>
                    <p>{{ el.first_name }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей.</p>
        {% endif %}
    </div>
{% endblock %}